.nav-link 
{
  font-size: 16px;
  font-weight: 500;
}
.navbar-text 
{
  font-size: 16px;
  font-weight: 500;
}

.hover-nav .hover-nav-on,
.hover-nav:hover .hover-nav-off {
  display: none;
}

.hover-nav:hover .hover-nav-on {
  display: inline;
}